.label {
    align-self: center;
    margin-right: 2px;
}

.label {
    align-self: center;
    margin-right: 2px;
}


.labelOl {
    margin-right: 10px;
}

.btn {
    width: 90px;
    margin: 5px;
    height: 40px;
}